* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    background: linear-gradient(to right, #fdfbfb, #ebedee 70%);
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #009688 0px,
        #009688 15vh,
        #d2dbdc 15vh,
        #d2dbdc 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

/* General container */
.container {
    display: flex;
    width: 80%;
    min-width: 900px;
    height: 95%;
    background: #fff;
}

// User style
.user-pic {
    margin: 5px 10px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
}

.user--info {
    display: inline-block;

    .user--username {
        font-weight: $fw-bold;
    }
    .user--last-message {
        color: $info;
    }
}

.time-stamp {
    margin: 0 5px;
    color: $info;
}

// Icons
i {
    color: $info;
    font-size: 22px;
    margin: 10px;
}

i:last-child {
    margin-right: 25px;
}
