/* 
   ____            _             _   
  / ___|___  _ __ | |_ ___ _ __ | |_ 
 | |   / _ \| '_ \| __/ _ \ '_ \| __|
 | |__| (_) | | | | ||  __/ | | | |_ 
  \____\___/|_| |_|\__\___|_| |_|\__|
                                      
*/
/* Container */
.content {
    width: 65%;
    height: 100%;
    background: #eaeaea;
    display: flex;
    flex-direction: column;
}

/* Content header */
.content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content--user-pic {
    height: 50px;
    display: inline-block;
    border-radius: 50%;
}

.content--user-info {
    display: inline-block;
}

/* Content messages */
.content__messages--margin {
    flex-grow: 1;
    background-image: url("../img/mine.jpg");
    overflow-y: auto;
}

.content__messages {
    margin: 50px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Message style */
.message {
    background-color: #fff;
    width: 250px;
    margin: 0 0 50px;
    padding: 20px;
    border-radius: 10px;
}

.message.my-message {
    float: right;
    background-color: #d5faba;
    clear: both;
}

/* Content input bar */
.content__input-bar {
    height: 60px;
    display: flex;
    align-items: center;
}

.content__input-bar--emoji {
    width: 50px;
}

.content__input-bar--input {
    flex-grow: 1;
    margin: 10px;
    height: 65%;
}

.chat--input {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border: 0;
    outline: none;
    transition: 0.4s;
}

.content__input-bar--button {
    width: 50px;
}

.template {
    display: none;
}