/* 
   ____            _             _   
  / ___|___  _ __ | |_ ___ _ __ | |_ 
 | |   / _ \| '_ \| __/ _ \ '_ \| __|
 | |__| (_) | | | | ||  __/ | | | |_ 
  \____\___/|_| |_|\__\___|_| |_|\__|
                                      
*/
/* Container */
.content {
    width: 65%;
    height: 100%;
    background: $header-bg;
    display: flex;
    flex-direction: column;
}

/* Content header */
.content__header--left {
    display: flex;
    align-items: center;
}

/* Content messages */
.content__messages--margin {
    flex-grow: 1;
    background-image: url("../../img/mine.jpg");
    overflow-y: auto;
    // display: flex;
    // align-items: flex-end;
}

.js-conversation {
    display: none;

    &.active {
        display: block;
    }
}

.js-content__messages {
    margin: 50px;
    // width: 100%;
    // display: flex;
    // flex-direction: column;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Message style */
.message {
    background-color: #fff;
    min-width: 20%;
    max-width: 60%;
    // width: 250px;
    margin: 5px 0;
    // margin: 0 0 50px;
    padding: 15px 25px 30px 15px;
    border-radius: 10px;
    overflow-wrap: break-word;
    position: relative;
    float: left;
    clear: both;

    &--timestamp {
        position: absolute;
        bottom: 5px;
        right: 10px;
        font-size: 14px;
        color: $info;
    }

    &.my-message {
        float: right;
        background-color: $my-message-bg;
        // align-self: flex-end;
    }
}

/* Content input bar */
.content__input-bar {
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;

    i {
        // margin-right: 0;
        text-align: center;
    }
}

.content__input-bar--emoji {
    width: 50px;
    margin: 0 20px;
}

.content__input-bar--input {
    flex-grow: 1;
    // margin: 10px;
    height: 65%;
}
.input:focus-within {
    outline: solid 4px $banner;
}

.input {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border: 0;
    outline: none;
    transition: outline 0.1s;
}

.content__input-bar--button {
    width: 50px;
    margin: 0 30px;

    .js-send {
        margin-right: 0;
    }
}

.dropdown {
    position: absolute;
    right: -20px;
    top: 0;

    a {
        text-decoration: none;
    }

    .dropdown-menu {
        opacity: 0;
        height: 45px;
        width: 40px;
        background: $cream;

        i {
            margin-right: 0;
        }
    }

    &:focus-within .dropdown-menu {
        opacity: 1;
    }
}

.js-template {
    display: none;
}
