/* 
   ____            _             _   
  / ___|___  _ __ | |_ ___ _ __ | |_ 
 | |   / _ \| '_ \| __/ _ \ '_ \| __|
 | |__| (_) | | | | ||  __/ | | | |_ 
  \____\___/|_| |_|\__\___|_| |_|\__|
                                      
*/
/* Container */
.content {
    width: 65%;
    height: 100%;
    background: $header-bg;
    display: flex;
    flex-direction: column;
}

/* Content header */
.content__header--left {
    display: flex;
    align-items: center;
}

/* Content messages */
.js-content__messages--margin {
    flex-grow: 1;
    background-image: url("../../img/mine.jpg");
    overflow-y: auto;
    // display: flex;
    // align-items: flex-end;
}

.js-content__messages {
    margin: 50px;
    // width: 100%;
    // display: flex;
    // flex-direction: column;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Message style */
.message {
    background-color: #fff;
    width: 250px;
    margin: 0 0 50px;
    padding: 20px;
    border-radius: 10px;
    overflow-wrap: break-word;
    position: relative;
    .message--timestamp {
        position: absolute;
        bottom: 5px;
        right: 10px;
        font-size: 14px;
        color: $info;
    }
}

.message.my-message {
    float: right;
    background-color: $my-message-bg;
    clear: both;
    // align-self: flex-end;
}

/* Content input bar */
.content__input-bar {
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;

    i {
        margin-right: 0;
    }
}

.content__input-bar--emoji {
    width: 50px;
}

.content__input-bar--input {
    flex-grow: 1;
    margin: 10px;
    height: 65%;
}

.input {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border: 0;
    outline: none;
    transition: outline 0.1s;
}

.input:focus-within {
    outline: solid 4px $banner;
}

.content__input-bar--button {
    width: 50px;
    margin: 0 15px 0 0;

    // .fas {
    //     display: none;
    // }

    // .active {
    //     display: block;
    // }
}

.js-template {
    display: none;
}
