/* 
  ____  _     _      _                
 / ___|(_) __| | ___| |__   __ _ _ __ 
 \___ \| |/ _` |/ _ \ '_ \ / _` | '__|
  ___) | | (_| |  __/ |_) | (_| | |   
 |____/|_|\__,_|\___|_.__/ \__,_|_|   
                                       
*/
/* Sidebar Container */
.sidebar {
    width: 35%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
}

/* Sidebar header */
.sidebar__header {
    background: $header-bg;
    border-right: 1px solid $t-gray;
}

/* Sidebar banner */
.sidebar__banner {
    height: 90px;
    background-color: $banner;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    i {
        background-color: #fff;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: $banner;
        margin: 0 10px 0 20px;
    }

    p {
        font-weight: $fw-bold;
    }

    a {
        color: #000;
        font-size: 12px;
    }
}

.sidebar__banner--message {
    display: inline-block;
}

/* Sidebar search */
.sidebar__search {
    height: 60px;
    background-color: $cream;
}

.sidebar__search--bar {
    background-color: #fff;
    display: flex;
    align-items: center;
    border: 1px solid $sidebar-user;
    // margin: 10px;
    height: 100%;
}

/* Sidebar content */
.js-sidebar__content {
    flex-grow: 1;
    overflow-y: auto;
}

.js-sidebar__content--left {
    display: flex;
    align-items: center;

    .user-pic {
        margin: 20px;
    }
}

.js-sidebar__content--user-div {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $sidebar-user;
    cursor: pointer;

    &:last-child {
        border-bottom: 0;
    }

    &:hover {
        background: #f5f5f5;
    }

    &.active {
        background-color: $sidebar-user;
        border-bottom: transparent;
    }
}

.user--username {
    text-transform: capitalize;
}
