* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#fdfbfb), color-stop(70%, #ebedee));
  background: linear-gradient(to right, #fdfbfb, #ebedee 70%);
  height: 100vh;
  background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #d2dbdc 15vh, #d2dbdc 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* General container */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  min-width: 900px;
  height: 95%;
  background: #fff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 70px;
      flex-basis: 70px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.user-pic {
  margin: 5px 10px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
}

.user--info {
  display: inline-block;
}

.user--info .user--username {
  font-weight: 700;
}

.user--info .user--last-message {
  color: #bec0c2;
}

.time-stamp {
  margin: 0 5px;
  color: #bec0c2;
}

i {
  color: #bec0c2;
  font-size: 22px;
  margin: 10px;
}

i:last-child {
  margin-right: 25px;
}

/* 
  ____  _     _      _                
 / ___|(_) __| | ___| |__   __ _ _ __ 
 \___ \| |/ _` |/ _ \ '_ \ / _` | '__|
  ___) | | (_| |  __/ |_) | (_| | |   
 |____/|_|\__,_|\___|_.__/ \__,_|_|   
                                       
*/
/* Sidebar Container */
.sidebar {
  width: 35%;
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Sidebar header */
.sidebar__header {
  background: #eaeaea;
  border-right: 1px solid #d6d6d6;
}

/* Sidebar banner */
.sidebar__banner {
  height: 90px;
  background-color: #8edafd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.sidebar__banner i {
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #8edafd;
  margin: 0 10px 0 20px;
}

.sidebar__banner p {
  font-weight: 700;
}

.sidebar__banner a {
  color: #000;
  font-size: 12px;
}

.sidebar__banner--message {
  display: inline-block;
}

/* Sidebar search */
.sidebar__search {
  height: 60px;
  background-color: #fafafa;
}

.sidebar__search--bar {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #eaebeb;
  height: 100%;
  padding: 5px;
}

/* Sidebar content */
.js-sidebar__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: auto;
}

.js-sidebar__content--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.js-sidebar__content--left .user-pic {
  margin: 20px;
}

.js-user--div {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eaebeb;
  cursor: pointer;
}

.js-user--div:last-child {
  border-bottom: 0;
}

.js-user--div:hover {
  background: #f5f5f5;
}

.js-user--div.active {
  background-color: #eaebeb;
  border-bottom: transparent;
}

.user--username {
  text-transform: capitalize;
}

/* 
   ____            _             _   
  / ___|___  _ __ | |_ ___ _ __ | |_ 
 | |   / _ \| '_ \| __/ _ \ '_ \| __|
 | |__| (_) | | | | ||  __/ | | | |_ 
  \____\___/|_| |_|\__\___|_| |_|\__|
                                      
*/
/* Container */
.content {
  width: 65%;
  height: 100%;
  background: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Content header */
.content__header--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Content messages */
.content__messages--margin {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: url("../../img/mine.jpg");
  overflow-y: auto;
}

.js-conversation {
  display: none;
}

.js-conversation.active {
  display: block;
}

.js-content__messages {
  margin: 50px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Message style */
.message {
  background-color: #fff;
  min-width: 20%;
  max-width: 60%;
  margin: 5px 0;
  padding: 15px 15px 25px 15px;
  border-radius: 10px;
  overflow-wrap: break-word;
  position: relative;
  float: left;
  clear: both;
}

.message--timestamp {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 14px;
  color: #bec0c2;
}

.message.my-message {
  float: right;
  background-color: #d5faba;
}

/* Content input bar */
.content__input-bar {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.content__input-bar i {
  text-align: center;
}

.content__input-bar--emoji {
  width: 50px;
  margin: 0 20px;
}

.content__input-bar--input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 65%;
}

.input:focus-within {
  outline: solid 4px #8edafd;
}

.input {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  border: 0;
  outline: none;
  -webkit-transition: outline 0.1s;
  transition: outline 0.1s;
}

.content__input-bar--button {
  width: 50px;
  margin: 0 30px;
}

.content__input-bar--button .js-send {
  margin-right: 0;
}

.js-template {
  display: none;
}
/*# sourceMappingURL=index.css.map */